<h1>Import catalogues</h1>
<br/>

<%= button_to "Download", importbtn_path, method: :get %>

<br/>
<br/>

<p>	Resources:</p>
<% output = File.open "shops_list.txt", "r" %>
	<ul>
		<% while (line = output.gets) %>
			<li><%= line %></li>
		<% end %>
	</ul>
<% output.close %>